body
{
    background: url("../Images/ifsp_aereo.jpg")no-repeat;
    -moz-background-size:100% 100%;
    -o-background-size:100% 100%;
    background-size: 100%;
}



.tela
{
    width: 400px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 450px;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #00ff00;
    box-shadow: 10px 15px 5px #00ff00;
}



.tela input
{
    display: block;
    align-content: center;
    align-items: center;
    margin:0px 10px 10px 15px;
    width: 350px;
    padding: 5px;
    border-radius: 20px;
    color:black;
}


.tela h1 {
    font-family: "sans-serif";
    background-color:#D3D3D3;
    font-size: 40px;
    text-align: center;
    background:rgb(230, 229, 229);
    padding: 0px 0px;
    border-radius: 50px;
}



.tela label
{
    display: block;
    text-align: center;
    padding:10px 10px 5px 15px;
    font: sans-sarif;
    font-size: 30px;
    color: black;
}




#botao
{
    display: inline-block;
    background-color: #208636;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin-left: 125px;
    margin-top: 10px;
    padding: 10px 10px;
}

.tela #botao:hover {
    cursor: pointer;
    background-color: #40d360;
}


.tela img
{
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    border: 4px solid rgba(32, 194, 17, 0.822);
}



