
#login-box {
        width: 500px;
        height: 420px;
        margin:140px auto 0px;
        border-radius:5px;
}

#login-box-interno {
    width:480px;
    height:400px;
    background-color:#fff;
    position:absolute;
    margin:10px;
    border-radius:20px;
    box-shadow:10px 15px 5px rgb(17, 231, 17);
    overflow:hidden;
}

#Turma {
   margin:10px; 
}

#Disciplinas {
    position: relative;
    bottom:40px;
    left:0,5px;
    border: solid 0,5px black;
}

.scroll {
    overflow:auto;
}

#turmacontrol {
    border:solid 0.5px black;
    position:relative;
}

#buttoncontrol {
    border:solid 0.5px black;
    position:relative;
}

#gambiarra {
    position:relative;
    bottom:40px;
    background-color: white;
    width:153px;
    height:60px;

}

#optativa {
    position: relative;
    bottom:40px;
    left:0,5px;
    border: solid 0.5px black;
    height:77px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#mapear {
    position: relative;
    left: 180px;
    top:10px;
}

#botao {
    text-align:center;
    width:60px;
    position:relative;
     margin-right:50px;
    bottom: 90px;
    left: 380px;
    padding:2px 5px;
    font:bold 12px sans-serif;
    border-radius:20px;
    border: 1px solid #9eb9c3;
    background-color:rgb(17, 231, 17);
    box-shadow: 0px 0px 10px #c9c9c9;
   
}

#botao:hover {
    cursor: pointer;
    background-color: rgb(17, 231, 17);
}

.button {
    background-color: rgb(17, 231, 17);
    border: none;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font: sans-serif;
    }

    .button:hover {
        cursor: pointer;
    background-color: rgb(17, 231, 17);
    }
